[Desktop Entry]
Type=Application
Name=EMS Notify
Exec=EmsNotify
Icon=EmsNotify
Comment=EMS check-in countdown tray application
Categories=Utility;
Terminal=false